!!!

%html
  %head
    %link(href="../style/home.css" rel="stylesheet")
    %script(src="http://code.jquery.com/jquery-1.9.1.min.js")
    %script(src="../js/main.js" type="text/javascript")
  %body
    #navbar
      #logo
        oval<span>.</span>

    #container
      #left
        #create
          %a#create_btn.plus(href="#")
            +
          #create_hidden
            %input(type="text" placeholder="Group Name")
            %a#new_submit(href="#")
              Create a New Group
        %ul#groups
          %li
            %a(href="#")
              Group Name
          %li
            %a(href="#")
              Group Name
          %li
            %a(href="#")
              Group Name
          %li
            %a(href="#")
              Group Name
          %li
            %a(href="#")
              Group Name
          %li
            %a(href="#")
              Group Name

      #right
        %a#new_btn(href="#")
          Add
        %input(type="text" placeholder="Add a new link")
        
        #boxes
          .box
            %a(href="#")
              .info
                %h2
                  Title
                %h3
                  Link
              %img(src="#")
          .box
            %a(href="#")
              .info
                %h2
                  Title
                %h3
                  Link
              %img(src="#")
          .box
            %a(href="#")
              .info
                %h2
                  Title
                %h3
                  Link
              %img(src="#")
          .box
            %a(href="#")
              .info
                %h2
                  Title
                %h3
                  Link
              %img(src="#")
          .box
            %a(href="#")
              .info
                %h2
                  Title
                %h3
                  Link
              %img(src="#")
          .box
            %a(href="#")
              .info
                %h2
                  Title
                %h3
                  Link
              %img(src="#")


          

