!!!

%html
	%head
		%link(href="../style/style.css" type="text/css" rel="stylesheet")

	%body
		#top
			#logo
				oval<span>.</span>
			#tagline
				%h3
					because circles are for squares
		#form
			%input#email(type="text" placeholder="Email")
			%input#password(type="text" placeholder="Password")
			%a#submit(href="#")
				Submit
