/*
Syntax error: File to import not found or unreadable: bourbon.
              Load path: /Users/mmoutenot/workspace/oval_front
        on line 1 of style/style.scss

1: @import "bourbon";
2: 
3: /*--COLORS--*/
4: $black: #454545;
5: $orange: #FF9A3A;
6: $blue: #035B73;

Backtrace:
style/style.scss:1
/Users/mmoutenot/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/mmoutenot/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/tree/import_node.rb:45:in `import'
/Users/mmoutenot/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/mmoutenot/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/mmoutenot/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:215:in `visit_import'
/Users/mmoutenot/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/mmoutenot/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/mmoutenot/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/mmoutenot/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/mmoutenot/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/mmoutenot/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/mmoutenot/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/mmoutenot/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/mmoutenot/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/mmoutenot/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:126:in `visit_root'
/Users/mmoutenot/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/mmoutenot/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/mmoutenot/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/mmoutenot/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/tree/root_node.rb:20:in `render'
/Users/mmoutenot/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/engine.rb:315:in `_render'
/Users/mmoutenot/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/engine.rb:262:in `render'
/Users/mmoutenot/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/plugin/compiler.rb:341:in `update_stylesheet'
/Users/mmoutenot/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/mmoutenot/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/plugin/compiler.rb:201:in `each'
/Users/mmoutenot/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/mmoutenot/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/plugin/compiler.rb:235:in `watch'
/Users/mmoutenot/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/plugin.rb:107:in `method_missing'
/Users/mmoutenot/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/exec.rb:444:in `watch_or_update'
/Users/mmoutenot/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/exec.rb:307:in `process_result'
/Users/mmoutenot/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/exec.rb:41:in `parse'
/Users/mmoutenot/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/lib/sass/exec.rb:21:in `parse!'
/Users/mmoutenot/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.4/bin/sass:8:in `<top (required)>'
/Users/mmoutenot/.rvm/gems/ruby-1.9.3-p194/bin/sass:19:in `load'
/Users/mmoutenot/.rvm/gems/ruby-1.9.3-p194/bin/sass:19:in `<main>'
/Users/mmoutenot/.rvm/gems/ruby-1.9.3-p194/bin/ruby_noexec_wrapper:14:in `eval'
/Users/mmoutenot/.rvm/gems/ruby-1.9.3-p194/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: bourbon.\A               Load path: /Users/mmoutenot/workspace/oval_front\A         on line 1 of style/style.scss\A \A 1: @import \"bourbon\";\A 2: \A 3: /*--COLORS--*/\A 4: $black: #454545;\A 5: $orange: #FF9A3A;\A 6: $blue: #035B73;"; }
